@Html.Partial("/Views/Partials/ToastPartial.cshtml")
<div class="container-fluid mb-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4">URL Management</h1>
    </div>
    <form class="w-100" id="healthCheckForm">
        <div class="mt-1">
            <div class="row">
                <div class="col-6">
                    <p class="mb-0">Name</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="appName" />
                    </div>
                </div>
                <div class="col-6">
                    <p class="mb-0">Url</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="url" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Check:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Every</div>
                        </div>
                        <input type="number" class="form-control" id="unitVal" placeholder="Unit">
                    </div>
                </div>
                <div class="col-8">
                    <label class="sr-only" for="inlineFormInputGroupUsername">&nbsp;</label>

                    <select class="form-select" id="frequency" required>
                        <option selected>Select Frequency</option>
                        <option value="1">Minute(s)</option>
                        <option value="2">Hour(s)</option>
                        <option value="3">Day(s)</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="pt-2">
                    <button type="submit" class="btn btn-primary btn-md">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h4">URL List</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
                <th scope="col">Frequency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <nav aria-label="...">
            <ul class="pagination" id="pagination">
                @* <li id="pagePrev" class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li> *@
            </ul>
        </nav>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/ajaxServices.js"></script>
    <script type="text/javascript" src="~/js/healthCheckUrl.js"></script>
}